@model ProyectoTransportesAndes.ViewModels.ViewModelCliente

@{
    ViewData["Title"] = "NuevoCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <legend>Usuario</legend>
                <div class="form-group">
                    <label asp-for="Cliente.User" class="control-label"></label>
                    <input asp-for="Cliente.User" class="form-control" />
                    <span asp-validation-for="Cliente.User" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Password" class="control-label"></label>
                    <input asp-for="Cliente.Password" class="form-control" />
                    <span asp-validation-for="Cliente.Password" class="text-danger"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Datos personales</legend>
                <div class="form-group">
                    <label asp-for="Cliente.RazonSocial" class="control-label"></label>
                    <input asp-for="Cliente.RazonSocial" class="form-control" />
                    <span asp-validation-for="Cliente.RazonSocial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Rut" class="control-label"></label>
                    <input asp-for="Cliente.Rut" class="form-control" />
                    <span asp-validation-for="Cliente.Rut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Nombre" class="control-label"></label>
                    <input asp-for="Cliente.Nombre" class="form-control" />
                    <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Apellido" class="control-label"></label>
                    <input asp-for="Cliente.Apellido" class="form-control" />
                    <span asp-validation-for="Cliente.Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Email" class="control-label"></label>
                    <input asp-for="Cliente.Email" class="form-control" />
                    <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Documento" class="control-label"></label>
                    <input asp-for="Cliente.Documento" class="form-control" />
                    <span asp-validation-for="Cliente.Documento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Telefono" class="control-label"></label>
                    <input asp-for="Cliente.Telefono" class="form-control" />
                    <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.Direccion" class="control-label"></label>
                    <input asp-for="Cliente.Direccion" class="form-control" />
                    <span asp-validation-for="Cliente.Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.FNacimiento" class="control-label"></label>
                    <input asp-for="Cliente.FNacimiento" class="form-control" />
                    <span asp-validation-for="Cliente.FNacimiento" class="text-danger"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Metodo de pago</legend>
                <div class="form-group">
                    <label asp-for="Tarjeta.Numero" class="control-label"></label>
                    <input asp-for="Tarjeta.Numero" class="form-control" />
                    <span asp-validation-for="Tarjeta.Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tarjeta.fVencimiento" class="control-label"></label>
                    <input asp-for="Tarjeta.fVencimiento" class="form-control" />
                    <span asp-validation-for="Tarjeta.fVencimiento" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

