@model ProyectoTransportesAndes.ViewModels.ViewModelUsuario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Editar usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.User" class="control-label"></label>
                <input asp-for="Usuario.User" class="form-control" />
                <span asp-validation-for="Usuario.User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Password" class="control-label"></label>
                <input asp-for="Usuario.Password" class="form-control" />
                <span asp-validation-for="Usuario.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Apellido" class="control-label"></label>
                <input asp-for="Usuario.Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Documento" class="control-label"></label>
                <input asp-for="Usuario.Documento" class="form-control" />
                <span asp-validation-for="Usuario.Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Telefono" class="control-label"></label>
                <input asp-for="Usuario.Telefono" class="form-control" />
                <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Direccion" class="control-label"></label>
                <input asp-for="Usuario.Direccion" class="form-control" />
                <span asp-validation-for="Usuario.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.FNacimiento" class="control-label"></label>
                <input asp-for="Usuario.FNacimiento" class="form-control" />
                <span asp-validation-for="Usuario.FNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Administrador" class="control-label"></label>
                <input asp-for="Administrador" class="form-control" />
                <span asp-validation-for="Administrador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id" class="form-control hidden" />
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
