@model ProyectoTransportesAndes.ViewModels.ViewModelVehiculo
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:30px;">
    <div class="col-md-10 col-md-offset-1">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-md-12">
                <fieldset>
                    <legend>Chofer</legend>
                    <div class="form-group col-md-4 col-md-offset-1">
                        @Html.DropDownListFor(d => Model.ChoferSeleccionado, Model.ListaChoferes, new { @class = "form-control" })
                    </div>
                </fieldset>
            </div>
            <div class="row col-md-12">
                <fieldset>
                    <legend>Datos del vehículo</legend>
                    <div class="form-group col-md-3 col-md-offset-1">
                        @Html.DropDownListFor(d => Model.TipoVehiculo, Model.ListaTipoVehiculo, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <input type="text" asp-for="Vehiculo.Matricula" class="form-control" placeholder="Matrícula" />
                        <span asp-validation-for="Vehiculo.Matricula" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-3 col-md-offset-1">
                    <input type="text" asp-for="Vehiculo.Marca" class="form-control" placeholder="Marca" />
                    <span asp-validation-for="Vehiculo.Marca" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 col-md-offset-1">
                    <input type="text" asp-for="Vehiculo.Modelo" class="form-control" placeholder="Modelo" />
                    <span asp-validation-for="Vehiculo.Modelo" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-3 col-md-offset-1">
                    <input type="number" min="1" asp-for="Vehiculo.ConsumoKml" class="form-control" placeholder="Consumo (km/l)" />
                    <span asp-validation-for="Vehiculo.ConsumoKml" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 col-md-offset-1">
                    <input type="number" min="1" asp-for="Vehiculo.CantidadPasajeros" class="form-control" placeholder="Pasajeros" />
                    <span asp-validation-for="Vehiculo.CantidadPasajeros" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-2 col-md-offset-1">
                    <input type="number" min="1" asp-for="Vehiculo.Largo" class="form-control" placeholder="Largo (cm)" />
                    <span asp-validation-for="Vehiculo.Largo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 col-md-offset-1">
                    <input type="number" min="1" asp-for="Vehiculo.Ancho" class="form-control" placeholder="Ancho (cm)" />
                    <span asp-validation-for="Vehiculo.Ancho" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 col-md-offset-1">
                    <input type="number" min="1" asp-for="Vehiculo.Alto" class="form-control" placeholder="Alto (cm)" />
                    <span asp-validation-for="Vehiculo.Alto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 col-md-offset-1">
                    <input type="number" min="1" asp-for="Vehiculo.CapacidadCargaKg" class="form-control" placeholder="Capacidad (kg)" />
                    <span asp-validation-for="Vehiculo.CapacidadCargaKg" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <fieldset>
                    <legend>Permisos</legend>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label asp-for="Vehiculo.VencimientoSeguro" class="control-label"></label>
                        <input type="date" asp-for="Vehiculo.VencimientoSeguro" class="form-control" />
                        <span asp-validation-for="Vehiculo.VencimientoSeguro" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label asp-for="Vehiculo.EmpresaAseguradora" class="control-label"></label>
                        <input type="text" asp-for="Vehiculo.EmpresaAseguradora" class="form-control" />
                        <span asp-validation-for="Vehiculo.EmpresaAseguradora" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label asp-for="Vehiculo.VencimientoPermisoPortuario" class="control-label">Permiso portuario</label>
                        <input type="date" asp-for="Vehiculo.VencimientoPermisoPortuario" class="form-control" />
                        <span asp-validation-for="Vehiculo.VencimientoPermisoPortuario" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="form-group col-lg-8 col-lg-offset-5" style="margin-top:50px;">
                    <input asp-for="Id" class="form-control hidden" />
                    <input type="submit" value="Modificar vehículo" class="btn btn-info" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
