@model ProyectoTransportesAndes.ViewModels.ViewModelVehiculo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Modificar vehiculo</h3>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label class=" control-label">Chofer</label>
                @Html.DropDownListFor(d => Model.ChoferSeleccionado, Model.ListaChoferes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(d => Model.TipoVehiculo, Model.ListaTipoVehiculo, new { @class = "form-control" })
            </div>
            <div class="hidden">
                <label asp-for="Vehiculo.Id" class="control-label"></label>
                <input asp-for="Vehiculo.Id" class="form-control" />
                <span asp-validation-for="Vehiculo.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Matricula" class="control-label"></label>
                <input asp-for="Vehiculo.Matricula" class="form-control" />
                <span asp-validation-for="Vehiculo.Matricula" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Vehiculo.Marca" class="control-label"></label>
                <input asp-for="Vehiculo.Marca" class="form-control" />
                <span asp-validation-for="Vehiculo.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Modelo" class="control-label"></label>
                <input asp-for="Vehiculo.Modelo" class="form-control" />
                <span asp-validation-for="Vehiculo.Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.ConsumoKml" class="control-label"></label>
                <input asp-for="Vehiculo.ConsumoKml" class="form-control" />
                <span asp-validation-for="Vehiculo.ConsumoKml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.VencimientoPermisoPortuario" class="control-label"></label>
                <input asp-for="Vehiculo.VencimientoPermisoPortuario" class="form-control" />
                <span asp-validation-for="Vehiculo.VencimientoPermisoPortuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Tarifa" class="control-label"></label>
                <input asp-for="Vehiculo.Tarifa" class="form-control" />
                <span asp-validation-for="Vehiculo.Tarifa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.VencimientoSeguro" class="control-label"></label>
                <input asp-for="Vehiculo.VencimientoSeguro" class="form-control" />
                <span asp-validation-for="Vehiculo.VencimientoSeguro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.EmpresaAseguradora" class="control-label"></label>
                <input asp-for="Vehiculo.EmpresaAseguradora" class="form-control" />
                <span asp-validation-for="Vehiculo.EmpresaAseguradora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.CantidadPasajeros" class="control-label"></label>
                <input asp-for="Vehiculo.CantidadPasajeros" class="form-control" />
                <span asp-validation-for="Vehiculo.CantidadPasajeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Disponible" class="control-label"></label>
                <input asp-for="Vehiculo.Disponible" class="form-control" />
                <span asp-validation-for="Vehiculo.Disponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Largo" class="control-label"></label>
                <input asp-for="Vehiculo.Largo" class="form-control" />
                <span asp-validation-for="Vehiculo.Largo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Ancho" class="control-label"></label>
                <input asp-for="Vehiculo.Ancho" class="form-control" />
                <span asp-validation-for="Vehiculo.Ancho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Alto" class="control-label"></label>
                <input asp-for="Vehiculo.Alto" class="form-control" />
                <span asp-validation-for="Vehiculo.Alto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.CapacidadCargaKg" class="control-label"></label>
                <input asp-for="Vehiculo.CapacidadCargaKg" class="form-control" />
                <span asp-validation-for="Vehiculo.CapacidadCargaKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id" class="form-control hidden" />
                <input type="submit" value="Modificar" class="btn btn-info btn-block" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
