@model ProyectoTransportesAndes.Models.Vehiculo

@{
    ViewData["Title"] = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo</h2>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Nuevo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion" class="control-label"></label>
                <input asp-for="Calificacion" class="form-control" />
                <span asp-validation-for="Calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidades" class="control-label"></label>
                <input asp-for="Unidades" class="form-control" />
                <span asp-validation-for="Unidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadCargaKg" class="control-label"></label>
                <input asp-for="CapacidadCargaKg" class="form-control" />
                <span asp-validation-for="CapacidadCargaKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VencimientoPermisoPortuario" class="control-label"></label>
                <input asp-for="VencimientoPermisoPortuario" class="form-control" />
                <span asp-validation-for="VencimientoPermisoPortuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarifa" class="control-label"></label>
                <input asp-for="Tarifa" class="form-control" />
                <span asp-validation-for="Tarifa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VencimientoSeguro" class="control-label"></label>
                <input asp-for="VencimientoSeguro" class="form-control" />
                <span asp-validation-for="VencimientoSeguro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaAseguradora" class="control-label"></label>
                <input asp-for="EmpresaAseguradora" class="form-control" />
                <span asp-validation-for="EmpresaAseguradora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPasajeros" class="control-label"></label>
                <input asp-for="CantidadPasajeros" class="form-control" />
                <span asp-validation-for="CantidadPasajeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
