@{
    ViewData["Title"] = "Presupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="panel panel-info col-lg-8 col-lg-offset-2" style="margin-top:50px">
        <div class="panel-heading">Presupuesto</div>
        <div class="panel-body">
            <p>Muchas gracias por solicitar su presupuesto con nosotros. A la brevedad nos estaremos comunicando con usted para coordinar los detalles.</p>
        </div>
    </div>
</div>

